<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
        <link href="css/invite.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">    
        <title>乖孫美美</title>
    </head>
    <body>
        <div id='logo'>
            <div><img src="img/logo.png"></div>
            <div></div>
            <div></div>
        </div>        
    </body>
    <script>
        liff.init({
            liffId: '{{addContIv_liffID}}'
        })
        .then(() => {
            liff.getProfile()
            .then(profile =>{
                $(document).ready(function(){
                    $.ajax({
                        url:'/check-isFriend',
                        data:{
                            userId: profile.userId
                        },
                        success:function(data){
                            $('#logo').css('display', 'flex')
                            if(!data.IsFriend){
                                $('#logo div:nth-child(2)').html('請您先加乖孫美美為好友')
                                $('#logo div:nth-child(3)').html('再點選接受邀請連結')
                                setTimeout(function(){
                                    liff.openWindow({
                                        url: `https://liff.line.me/1645278921-kWRPP32q?accountId=${data.accountId}`
                                    })
                                }, 2000)
                            }
                            else{                                              
                                let url = liff.permanentLink.createUrl()
                                if(url.indexOf('supervisor_id')!=-1){
                                    let id = url.split('&supervisor_id=')
                                    let time = id[0].split('time=')
                                    if(Date.now()-time[1] > 3*86400*1000){
                                        $('#logo div:nth-child(2)').html('邀請連結已過期')
                                    }else if(id[1]==profile.userId){
                                        $('#logo div:nth-child(2)').html('已發送邀請')
                                    }                        
                                    else{                        
                                        $.ajax({
                                            url:'/open-invite-link',
                                            data:{
                                                supervisor_Id: id[1],
                                                supervisee_Id: profile.userId,
                                                time: time[1],
                                            },
                                            success:function(data){
                                                if(data=='already match'){
                                                    $('#logo div:nth-child(2)').html('對方已成為您的監督人')
                                                }
                                                else{
                                                    $('#logo div:nth-child(2)').html('對方已成為您的監督人')
                                                }
                                            }
                                        }) 
                                    }
                                }
                                else if(url.indexOf('supervisee_id')!=-1){
                                    let id = url.split('&supervisee_id=')
                                    let time = id[0].split('time=')
                                    if(Date.now()-time[1] > 3*86400*1000){
                                        $('#logo div:nth-child(2)').html('邀請連結已過期')
                                    }else if(id[1]==profile.userId){
                                        $('#logo div:nth-child(2)').html('已發送邀請')
                                    }  
                                    else{                        
                                        $.ajax({
                                            url:'/open-invite-link',
                                            data:{
                                                supervisor_Id: profile.userId,
                                                supervisee_Id: id[1],
                                                time: time[1]
                                            },
                                            success:function(data){
                                                if(data=='already match'){
                                                    $('#logo div:nth-child(2)').html('您已成為對方的監督人')
                                                }
                                                else{
                                                    $('#logo div:nth-child(2)').html('您已成為對方的監督人')
                                                }
                                            }
                                        })
                                    }
                                }
                            }
                        }
                    })
                })
            })
            .catch((err) => {
                console.log('error:', err)
            })
        })        
        .catch((err) => {
            //error callback   
        })
    </script>
</html>